
<%= @first_name %> <%= @last_name %>,<br/>
<br/>
You have request that your password be reset. Click here to change your password: <a href="http://www.circuitclout.com/manage_user/confirm_email/<%= @confirmation_id %>">Reset Password</a>.<br/>
You have until <%= @expiration_date %> to use this link. If you do not use this link to change your password, your password will remain unchanged.<br/>
Sincerely,<br/>
<%= if @operating_user == nil then 'Equinix Sales Administration' else @operating_user.print_name end %><br/>
